body {
    color: #3E4046;
}

body p {
    font-size: 14px;
}

.float_left {
    float: left;
}

hr {
    margin: 10px auto;
}
#searchForm {
    margin-top: 30px;
    padding: 0 10px;
}

/* -- -- -- List Group Related Stylings -- -- --*/
.list-group p {
    font-size: 12px;
    color: #616468;
}

.list-group {
    padding-top: 10px;
}

.list-group-header {
    padding-top: 40px;
}

.list-group-item {
    border: 1px solid #ddd;
    background: #FFFFFF;
    margin: 10px 20px;
    border-radius: 4px;
    color: #3E4046;
    text-align: left;
}

.list-group-item:first-child {
    border: 1px solid #ddd;
}

.list-group-item:hover {
    background: #F1F2F5;
    border-radius: 4px;
}

.form-control:focus {
    box-shadow: none;
}