#notesPage
    #noteListings
        .notesListHeader
            h4 Notes
                span.badge
            i(class="icon icon-plus-squared addNoteIcon", aria-hidden="true") 
        .notesListbody
            ul.list-group.float_left.notesList

    #noteFormArea
        #rightColHeader
            input(class="form-control" type="text" placeholder="Search for note")

        form#noteForm
            p#savedNotification Saved...
            .form-group
                textarea(class="form-control"  id="noteContent" rows="10")

script.
    appInit = require('./lib/notes/notesController');
    appInit();
